@using OwnAssistantCommon.Models
@model JrnlTasksViewModel;
@{
}

<div class="row">
    <div class="col text-center">
        <h2>Tasks</h2>
    </div>
</div>


<form class="row py-3 mx-1" asp-antiforgery="true" asp-controller="CustomerTask" asp-action="Tasks">
    <div class="col-4">
        <label class="form-label" asp-for="Filter.StartDate"></label>
        <input class="form-control" asp-for="Filter.StartDate" />
    </div>
    <div class="col-4">
        <label class="form-label" asp-for="Filter.EndDate"></label>
        <input class="form-control" asp-for="Filter.EndDate" />
    </div>
    <div class="col-4">
        <label asp-for="Filter.UserName" class="form-label"></label>
        <select class="form-select" asp-for="Filter.UserName" asp-items="@Model.ListUserLogin"></select>
    </div>
    <div class="col py-3">
        <div class="row">
            <div class="col-1">
                <label asp-for="Filter.UserName" class="col-form-label"></label>
            </div>
            <div class="col-3">
                <select class="form-control form-select" asp-for="Filter.TaskType" asp-items="@Model.ListTaskType"></select>
            </div>
            <div class="col">
                <button class="btn btn-primary w-50">Get Tasks</button>
            </div>
            <div class="col text-end">
                <a class="btn btn-success w-50" asp-controller="CustomerTask" asp-action="CreateTask">Create Task</a>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>CrtDate</th>
                    <th>Creator</th>
                    <th>Performer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Tasks != null && Model.Tasks.Any())
                {
                    @for (int i = 0; i < Model.Tasks.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.Tasks[i].Title</td>
                            <td>@Model.Tasks[i].Text</td>
                            <td>@Model.Tasks[i].CrtDate.ToString("dd.MM.yyyy hh:mm")</td>
                            <td>@Model.Tasks[i].CreatorUser.Login</td>
                            <td>@Model.Tasks[i].PerformingUser.Login</td>
                            <td><a class="btn btn-primary" asp-controller="CustomerTask" asp-action="ViewTask" asp-route-id="@Model.Tasks[i].Id">View</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>